* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {
    padding: 2rem 0;
}

main {
    background-color: aquamarine;
}


section#grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 3px solid black;
    margin: 0 auto;
}

article.square {
    border: 2px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

article.square.active {
    background-color: blue;
    color: white;
}

.square>span.number {
    display: none;
}

.square.active>span.number {
    display: inline-block;
    font-size: 40px;
}